body{
font-family: sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: linear-gradient(to right, #00c6ff, #0072ff);    
}

.container{
    background-color:rgba(red, green, blue, 0.2) ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    display: flex;  
    flex-direction: column;
    align-items: center;
    animation: CAnimation 1s ease-in-out infinite alternate;

}

@keyframes CAnimation{

    from{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    to{
        box-shadow: 0px 0px 20px #00c6ff,
        0px 0px 30px  #00c6ff,
        0px 0px 40px #0072ff;
    }
    
}

h1{
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 30px;
}
textarea{
    width: 500px;
    height: 350px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    display: block;
    padding: 20px;
    font-size: 24px;
    margin: 10px auto;
    resize: none;
    animation: slideIn 1s ease;
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}


button{
    background-color: bisque;
    color: black;
    border: none;
    padding: 10px 20px;
    width: 90%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}

#result{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    animation: slideIn 1s ease;

}